* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  background: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

img {
  will-change: opacity;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .desktop-nav {
    display: none !important;
  }

  .mobile-menu-btn {
    display: block !important;
  }

  .mobile-nav {
    display: flex !important;
  }
}